In [1]:
import summary as s
import pandas as pd
import numpy as np
df = pd.read_csv('all_data.csv')

In [2]:
df.head()

,DATE,US_EU,JP_US,US_UK,US_JP,EU_LIBOR,JP_LIBOR,UK_LIBOR,US_LIBOR,US_EU_LIBOR,US_JP_LIBOR,US_UK_LIBOR,Oil_Price
0,2007-01-02,1.3286,118.83,1.9736,0.008415,3.61500,0.39250,5.12000,5.34250,1.72750,4.95000,0.22250,60.77
1,2007-01-03,1.3169,119.58,1.9498,0.008363,3.61375,0.39250,5.11688,5.30375,1.69000,4.91125,0.18687,58.31
2,2007-01-04,1.3094,119.28,1.9443,0.008384,3.61313,0.38750,5.11688,5.30125,1.68812,4.91375,0.18437,55.65
3,2007-01-05,1.3005,118.77,1.9305,0.008420,3.60563,0.37625,5.10688,5.30188,1.69625,4.92563,0.19500,56.29
4,2007-01-08,1.3023,118.49,1.9385,0.008440,3.59625,0.39125,5.09875,5.30000,1.70375,4.90875,0.20125,56.08

In [3]:
def A(series):
    return 3

In [4]:
cols = ['US_EU','JP_US','US_UK','US_EU_LIBOR','US_UK_LIBOR','US_JP_LIBOR','US_JP']
rm_dict = {}
for col in cols:
    rm_dict[col] = col.replace('_',' ')
    
cols = rm_dict.values()
df.rename(columns=rm_dict, inplace=True)

In [5]:
obj = s.summary(df=df,columns=cols, user_defined_val={'Trial':A, 'Trial2':A, 'Trial3':A, 'Trial4':A})

obj.output_pdf_summary(path="", max_ncols=3, max_nrows = 5)

0

In [6]:
from IPython.display import IFrame
IFrame("summary.pdf", width=600, height=300)